.Header{
    height: 92vh;
    width: 99.9vw;
    background-color: #385A7C;
    margin-top: 8vh;
     overflow-x: hidden;
}
.Picture{
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 5rem;
    display: inline;
    box-sizing: border-box;
    border: black solid;
    border-width: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    
}
.header-h2{
    display: inline;
    float: right;
    margin-top: 10rem;
    margin-right: 15rem;
    font-family: "Nunito";
    font-weight: 400;
    
}
@media screen and (max-width:480px){
    .Header{
        margin-top: 6.5vh;
    }
    .Picture{
        display: block;
        margin-top: 2rem;
        margin-left: 1.5rem;
        border-radius: 30%;
        max-width: 80vw;

    }
    .header-h2{
        margin-top: 2rem;
    }
    .center-align{
        
    }
}